header{
width:100%;
background-color: gray;
font-size:10px;
text-align:center;
margin-bottom:20px;

}
#left{
    box-sizing: border-box;
    background-color:blue;
    width:50%;
    height:300px;
    float:left;
    text-align:center;
    padding:150px
}
#right{
box-sizing: border-box;
background-color: red;
width:25%;
height:300px;
float:right;
text-align:center;
padding:150px;

}
footer{
width:100%;
background-color:green;
font-size: 10px;
text-align:center;
margin-top:400px;
}